@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.site-footer {
  // 🌗 Animated Gradient Background Based on Theme
  background: linear-gradient(
    270deg,
    var(--color-primary-dark),
    var(--color-primary-dark),
    var(--color-secondary-dark)
  );
  background-size: 400% 400%;
  animation: subtleGlobalBackgroundRipple 10s ease infinite;

  color: var(--color-text-primary);
  font-size: 0.9rem;
  text-align: center;
  width: 100vw;
  justify-self: center;

  // Reuse the same ripple animation as nav
  @keyframes subtleGlobalBackgroundRipple {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .footer-content {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      gap: 0;
    }
  }

  .footer-links {
    a {
      color: var(--color-primary-light);
      text-decoration: none;
      margin: 0 0.75rem;
      margin-left: 1rem;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-primary-mid);
      }
    }
  }

  .footer-copyright {
    p {
      margin: 0;
      font-size: 0.8rem;
      color: var(--color-text-secondary);
      margin-right: 1rem;
    }
  }

  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      justify-content: space-between;
    }
    text-align: left;
  }
}
