@use '../../styles/partials/variables' as *; // Assuming you have a variables partial
@use '../../styles/partials/mixins' as *;    // Assuming you have a mixins partial

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
min-height: 90vh;
  padding: 2rem;
  text-align: center;
  
  color: $primary-dark; // Use your site's primary text color

  .not-found-title {
    // font-family: v.$font-heading; // e.g., Italiana
    font-size: 8rem;
    // color: v.$primary-color; // A prominent color
    margin-bottom: 1rem;

    @include tablet {
      font-size: 10rem;
    }
  }

  .not-found-message {
    // font-family: v.$font-body; // e.g., Poppins
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 1.8rem;
    }
  }

  .not-found-suggestion {
    // font-family: v.$font-body;
    font-size: 1rem;
    color: $primary-dark;
    margin-bottom: 2rem;
  }

  .not-found-button {
    color: $secondary-dark;
    margin-bottom: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    &:hover {
      color: $primary-dark;
      }
  }

  .not-found-link {
    // font-family: v.$font-body;
    color: $secondary-dark;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $primary-dark;
    }
  }
}